body {
    background-color: ivory;
    color: darkblue;
    font-family: "Open Sans", sans-serif;
    margin: 10px 50px;
}

h1, h2 {
    font-family: Oswald, sans-serif;
}

img {
    float: left;
    margin: 0 15px 10px 0;
}